imports:
  request: ./request.yml
types:
  # Header Configs
  HeaderBufferOverflowConfig:
    properties:
      targets: list<string>
      bodySize: integer
      timeout: integer
      retries: integer
      sleep: integer
  HeaderMisconfigurationConfig:
    properties:
      targets: list<string>
      headerEvent: request.HeaderEvent
      timeout: integer
      retries: integer
      sleep: integer
  HeaderServerOverloadConfig:
    properties:
      targets: list<string>
      headerNames: list<string>
      payloadSize: integer
      timeout: integer
      retries: integer
      sleep: integer
  HeaderUserAgentConfig:
    properties:
      targets: list<string>
      agentHeader: string
      timeout: integer
      retries: integer
      sleep: integer
  # Path Configs
  PathCrlfConfig:
    properties:
      targets: list<string>
      headerName: string
      headerValue: string
      timeout: integer
      retries: integer
      sleep: integer
  PathModFileConfig:
    properties:
      targets: list<string>
      timeout: integer
      retries: integer
      sleep: integer
  PathTraversalConfig:
    properties:
      targets: list<string>
      paths: optional<list<string>>
      pathLists: optional<list<string>>
      queryParam: optional<string>
      responseCodes: string
      ignoreBaseContent: boolean
      timeout: integer
      retries: integer
      sleep: integer
      successfulOnly: boolean
      threshold: float
  # Query Configs
  QueryReverseProxyConfig:
    properties:
      targets: list<string>
      redirectAddress: string
      timeout: integer
      retries: integer
      sleep: integer
  # Multi Injection Configs
  InjectionLocation:
    enum:
      - HEADER
      - PATH
      - QUERY
      - BODY
      - FORM
      - MULTIPART
  MultiInjectionConfig:
    properties:
      targets: list<string>
      method: request.HttpMethod
      variableData: map<string, string>
      injectionLocation: InjectionLocation
      eventType: request.MultiEvent
      timeout: integer
      retries: integer
      sleep: integer
